<%- include('includes/head.ejs')%>
<body>
<%- include('includes/navigation.ejs')%>

     <h1 style="font-size:140px;text-align:center; margin-top:200px;margin-bottom: 10px;"> 404 </h1>
    <h3 style="margin-top:10px;text-align: center; font-size: 50px;">Page Not Found</h3>
<%- include('includes/end.ejs')%>
